
@media screen and (min-width: 1024px) {
    .tiles:after {
        content: '';
        clear: both;
        display: block;
    }
}
.tiles.have-cross {
    background: url(../img/header/XXX.png) repeat-y -21px center;
}

.tax-product_cat .tiles.have-cross {
    background: url(../img/header/XXX.png) repeat-y -17px -21px;
    background-size: 980px 980px;
}

.tiles .tile {
    float: left;
    margin: 0 40px 40px 0;
    width: calc(50% - 20px);
}

.tiles .tile-wrapper {
    position: relative;
}

.tiles .tile:nth-child(2n) {
    margin-right: 0;
}

.tiles .tile:nth-last-child(1),
.tiles .tile:nth-last-child(2) {
    margin-bottom: 0;
}

.tile .bg,
.tile .tile-wrapper a {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .45);
    position: absolute;
    top: 0;
    left: 0;
}

.tile .tile-wrapper.first-type:hover .bg {
    background: rgba(0, 0, 0, .60);
}

.tile .tile-wrapper.first-type:hover .bg .center {
    opacity: 0;
}

.tile .center {
    display: table;
    width: 100%;
    height: 100%;
}

.tile .center p {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    padding: 0 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 1px;
}

.tile .tile-wrapper.first-type a {
    /* background: #67b6ee; */
    opacity: 0;

    transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
}

.tile .tile-wrapper.first-type a:hover {
    opacity: 1;
}

.tile .tile-wrapper.first-type a .h3 {
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 20px 20px 10px;
    font-weight: bold;
    text-align: center;
}

.tile .tile-wrapper.first-type a p {
    font-size: 14px;
    margin: 5px 40px 15px;
    color: #fff;
    text-align: justify;
    line-height: 18px;

    display: none;
}

.tile .tile-wrapper.first-type a .btn {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid #ffffff;
    padding: 8px 0;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: calc(50% - 75px);

    transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
}

.tile .tile-wrapper.first-type a:hover .btn {
    bottom: 50px;
}

.tile .tile-wrapper.first-type a .btn:hover {
    background: #ffffff;
    color: #67b6ee;
}

.tile .tile-wrapper.second-type {
    float: left;
}

.tile .tile-wrapper.second-type p {
    font-weight: normal;
    font-size: 14px;

    transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
}

.tile .tile-wrapper.second-type .btn {
    padding: 6px 18px;
    font-size: 12px;
    position: absolute;
    opacity: 0;
    left: calc(50% - 75px);
    display: block;
    width: 150px;
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid #ffffff;
    border-radius: 20px;
    text-align: center;
    bottom: 0;

    transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
}

.tile .tile-wrapper.second-type a:hover p {
    padding-bottom: 40px;
}

.tile .tile-wrapper.second-type a:hover .btn {
    bottom: 10px;
    opacity: 1;
}

.tile .tile-wrapper.second-type .btn:hover {
    background: #ffffff;
    color: #67b6ee;
}

.home .tiles {
    margin: 60px 0;
}

.home .tiles .first-type {
    margin-bottom: 30px;
}

.home .tiles .second-type,
.post-type-archive-product .tiles .second-type {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
}

.home .tiles .second-type:last-child,
.post-type-archive-product .tiles .second-type:last-child {
    margin-right: 0;
}

.subcategory-container .tiles .tile,
.subcategory-container .tiles .tile:nth-child(2n) {
    float: left;
    margin: 0 30px 30px 0;
    width: calc((100% - 60px) / 3);
}

.search-results .subcategory-container .tiles.manufacturers .tile,
.search-results .subcategory-container .tiles.manufacturers .tile:nth-child(2n) {
    float: left;
    margin: 0 30px 30px 0;
    width: calc((100% - 30px) / 2);
}

.search-results .subcategory-container .tiles.manufacturers .tile,
.search-results .subcategory-container .tiles.manufacturers .tile:nth-child(2n) {
    float: left;
    margin: 0 30px 30px 0;
    width: calc((100% - 30px) / 2);
}

.subcategory-container .tiles .tile:nth-child(3n) {
    margin-right: 0;
}

.category-page .tiles {
    margin: 40px 0;
}

.subcategory-container .tiles {
    margin: 30px 0 0;
}